<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  internalLogLevel="Trace"
      internalLogFile="..\logs\internal_logs\internallog.txt">
	<!--mudar o path de internalLogFile a sua escolha-->
	<targets>
	<!--mudar o path de fileName a sua escolha-->
		<target name="logfile" xsi:type="File" 
				fileName="../logs/${shortdate}_logfile.txt"
				layout="${longdate} ${level:uppercase=true} ${message}"/>
		<target name="logconsole" xsi:type="Console" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="logconsole" />
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>